*{
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  color: white;

}

body{
    background-color: #FF0000;
    align-items: center; 
    justify-content: center;  
}


.pokemon-list{
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.loading-message{
    margin: 20px 15%;
    text-align: left;
}

.hidden{
    display: none;
}


li{
    text-align: center;   
}


.button-class{
    background-color: darkgray;
    border-radius: 5px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 300px;
    height:auto;
    display:inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: darkgray;
    color: black;
    border: 2px solid black;
    font-family: 'Press Start 2P', cursive;
    transition: 0.4s opacity, 0.4s font-size;
    
}

.button-class:hover{
    cursor:pointer;
    font-size: 20px;
    color: #ffff;
  }

  #modal-container{
  display: none;
  }

  #modal-container.is-visible{
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
}

  .modal{
      margin: auto;
      display: inline-block;
      box-sizing:border-box;
      background: #ffff;
      padding: 15px;
      width: 100%;
      max-width: 700px;
      text-align: left;
  }

  .modal-close{
      float:right;
      -webkit-appearance: none;
      border:0;
      background: none;
      color: #777;
      text-decoration: underline;
  }

  .modal-close:hover{
    cursor: pointer;

  }

  @media all and (max-width: 500px) {
    h1 {
      font-size: 2rem;
    }
  
    ul {
      margin: 2px auto;
      padding: 0;
    }
  
    .pokemon-button {
      width: 80%;
    }
  }
 