body{
    background-color: #FF0000;
    font-family: 'Press Start 2P', cursive;

}

.title{
    width: 100%;
    height: 90px;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
}

.pokemon-list{
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.loading-message{
    margin: 20px 15%;
    text-align: left;
}

.hidden{
    display: none;
}


li{
    text-align: center;   
}

.button-class{
    background-color: darkgray;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: darkgray;
    color: black;
    border: 2px solid black;
    font-family: 'Press Start 2P', cursive;
    transition: 0.4s opacity, 0.4s font-size;
}

.button-class:hover{
    cursor:pointer;
    opacity: 0.8;
    font-size: 20px;
  }